:root {
    --padding: 20px;
    --margin: 10px;
  }
  
  .container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
  
  .header {
    flex: 1 100%;
    margin: var(--margin);
    background-color: blue;
    padding: var(--padding);
  }
  
  .lectures {
    /* flex: 2 0 calc(33.33% - var(--padding) * 2); */
    flex: 1 100%;
    margin: var(--margin);
    background-color: green;
    padding: var(--padding);
  }
  
  .books {
    /* flex: 1 0 calc(33.33% - var(--padding) * 2); */
    flex: 1 100%;
    margin: var(--margin);
    background-color: yellow;
    padding: var(--padding);
  }
  
  .footer {
    flex: 1 100%;
    margin: var(--margin);
    background-color: red;
    padding: var(--padding);
  }
